{% extends 'base.html' %}
{% load static %}

{% block content %}

     <!-- Breadcrumb Start -->
     <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <a class="breadcrumb-item text-dark" href="#">Shop</a>
                    <span class="breadcrumb-item active">Checkout</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Checkout Start -->
    <div class="container-fluid">
        {% if ms %}
        <p class="alert alert-danger">{{ms}}<p>
        {% endif %}
        <form action="{% url 'add_delivery' %}" method="POST">
            {% csrf_token %}
            <div class="row px-xl-5">
                <div class="col-lg-8">
                    <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Default Shipping Address</span></h5>
                    <div class="bg-light p-30 mb-5">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>First Name</label>
                                <input class="form-control" type="text" value="{{customer.user.first_name}}" readonly>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Last Name</label>
                                <input class="form-control" type="text" value="{{customer.user.last_name}}" readonly>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="email">E-mail</label>
                                <input class="form-control" type="text" value="{{customer.user.email}}" readonly>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="mobile">Mobile No</label>
                                <input class="form-control" type="text" value="{{customer.tel}}" readonly>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="address">Address</label>
                                <input class="form-control" type="text" value="{{customer.address}}" readonly>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="city">City</label>
                                <input class="form-control" type="text" value="{{customer.city}}" readonly>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="zipcode">ZIP Code</label>
                                <input class="form-control" type="text" value="{{customer.zipcode}}" readonly>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="country">Country</label>
                                <input class="form-control" type="text" value="{{customer.country}}" readonly>
                            </div>
                            <div class="col-md-12">
                                <span class="col-md-0">If you do not have default shipping address, clic on the checkbox below to entry other address.</span>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="shipto">
                                    <label class="custom-control-label" for="shipto"  data-toggle="collapse" data-target="#shipping-address">Ship to different address</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapse mb-5" id="shipping-address">
                        <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Shipping Address</span></h5>
                        <div class="bg-light p-30">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label for="email">E-mail</label>
                                    {{form.email}}
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="mobile">Mobile No</label>
                                    {{form.mobile}}
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="address">Address</label>
                                    {{form.address}}
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="city">City</label>
                                    {{form.city}}
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="zipcode">ZIP Code</label>
                                    {{form.zipcode}}
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="country">Country</label>
                                    {{form.country}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Order Details</span></h5>
                    <div class="bg-light p-30 mb-5">
                        <div class="border-bottom">
                            <h6 class="mb-3">Products</h6>
                            {% for item in items%}
                            <div class="d-flex justify-content-between">
                                <p>{{item.quantity}} x {{item.product.name}}</p>
                                <p>{% widthratio item.price 1 item.quantity %}</p>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="border-bottom pt-3 pb-2">
                            <div class="d-flex justify-content-between mb-3">
                                <h6>Subtotal</h6>
                                <h6>${{order.subtotal|floatformat}}</h6>
                            </div>
                            <div class="d-flex justify-content-between mb-3">
                                <h6 class="font-weight-medium">Shipping</h6>
                                <h6 class="font-weight-medium">${{order.shipping}}</h6>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-medium">Reduction</h6>
                                <h6 class="font-weight-medium">${{order.reduction}}</h6>
                            </div>
                        </div>
                        <div class="pt-2">
                            <div class="d-flex justify-content-between mt-2">
                                <h5>Total</h5>
                                <h5>${{order.get_total}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="mb-5">
                        <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Payment</span></h5>
                        <div class="bg-light p-30">
                            <div class="form-group">
                                {% for value, name in form.fields.payment_option.choices %}
                                <div class="form-group mb-4">
                                    <div class="custom-control custom-radio">
                                        <input id="{{ name }}" name="payment_option" value="{{ value }}" type="radio" class="custom-control-input" required>
                                        <label class="custom-control-label" for="{{ name }}">{{ name }}</label>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            
                            <button type="submit" class="btn btn-block btn-primary font-weight-bold py-3">Place Order</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- Checkout End -->


{% endblock %}


{% block extra_scripts %}
<script src="https://js.stripe.com/v3/"></script>
<script nonce="">  // Create a Stripe client.
  var stripe = Stripe("pk_test_51Mi5gCABvWlBXBTKuiw7XRZmfwWxk0TZc0jhF8S4HT56WbVXwHcC7xXjBhWzXUBa9tZoHdaV9mclnKAckiavK3Tg00G3RKVAuw");
   console.log(stripe)
  // Create an instance of Elements.
  var elements = stripe.elements();

  // Custom styling can be passed to options when creating an Element.
  // (Note that this demo uses a wider set of styles than the guide below.)
  var style = {
    base: {
      color: '#32325d',
      fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
      fontSmoothing: 'antialiased',
      fontSize: '16px',
      '::placeholder': {
        color: '#aab7c4'
      }
    },
    invalid: {
      color: '#fa755a',
      iconColor: '#fa755a'
    }
  };

  // Create an instance of the card Element.
  var card = elements.create('card', {style: style});

  // Add an instance of the card Element into the `card-element` <div>.
  card.mount('#card-element');

  // Handle real-time validation errors from the card Element.
  card.addEventListener('change', function(event) {
    var displayError = document.getElementById('card-errors');
    if (event.error) {
      displayError.textContent = event.error.message;
    } else {
      displayError.textContent = '';
    }
  });

  // Handle form submission.
  var form = document.getElementById('stripe-form');
  form.addEventListener('submit', function(event) {
    event.preventDefault();

    stripe.createToken(card).then(function(result) {
      if (result.error) {
        // Inform the user if there was an error.
        var errorElement = document.getElementById('card-errors');
        errorElement.textContent = result.error.message;
      } else {
        // Send the token to your server.
        stripeTokenHandler(result.token);
      }
    });
  });

  // Submit the form with the token ID.
  function stripeTokenHandler(token) {
    // Insert the token ID into the form so it gets submitted to the server
    var form = document.getElementById('stripe-form');
    var hiddenInput = document.createElement('input');
    hiddenInput.setAttribute('type', 'hidden');
    hiddenInput.setAttribute('name', 'stripeToken');
    hiddenInput.setAttribute('value', token.id);
    form.appendChild(hiddenInput);

    // Submit the form
    form.submit();
  }

  var currentCardForm = $('.current-card-form');
  var newCardForm = $('.new-card-form');
  var use_default_card = document.querySelector("input[name=use_default_card]");
  use_default_card.addEventListener('change', function() {
    if (this.checked) {
      newCardForm.hide();
      currentCardForm.show()
    } else {
      newCardForm.show();
      currentCardForm.hide()
    }
  })

</script>

</script>

</script> {% endblock %}