{% extends 'base.html' %}
{% load static %}
{% load set_get %}
{% load set_html %}

{% block caroussel %}
{% endblock %}


{% block features %}
{% endblock %}

{% block categories %}
{% endblock %}



{% block content %}
<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Home</a>
                <a class="breadcrumb-item text-dark" href="#">Shop</a>
                <span class="breadcrumb-item active">Shop List</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->


<!-- Shop Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-3 col-md-4">
            <!-- Price Filter Start -->
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by
                    price</span></h5>
            <div class="bg-light p-4 mb-30">
                <form method='post'>
                    {% csrf_token %}
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="radio" class="custom-control-input" id="price-all" value="all" name="price" checked>
                        <label class="custom-control-label" for="price-all">All prices</label>
                        <span class="badge border font-weight-normal">{{total}}</span>
                    </div>
                    {% for price_bracket in price_brackets %}
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="radio" class="custom-control-input" id="price-{{price_bracket.id}}" value="{{price_bracket.id}}" name="price">
                        <label class="custom-control-label" for="price-{{price_bracket.id}}">${{price_bracket.min|floatformat}}  --  ${{price_bracket.max|floatformat}}</label>
                        <span class="badge border font-weight-normal">{{price_bracket.products_count}}</span>
                    </div>
                    {% endfor %}
                    <div class="d-flex align-items-center justify-content-between mt-2">
                        <input type="input" name="price_min" style="width: 100px" placeholder="Min price">
                        --
                        <input type="input" name="price_max" style="width: 100px" placeholder="Max price">
                    </div>
                    <div class="custom-control badge border col mt-2">
                        <button class="btn btn-primary w-100">Filter</button>
                    </div>
                </form>
            </div>
            <!-- Price Filter End -->
        </div>
        <!-- Shop Sidebar End -->


        <!-- Shop Product Start -->
        <div class="col-lg-9 col-md-8">
            <div class="row pb-3">
                <div class="col-12 pb-1">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <div>
                            <button class="btn btn-sm btn-light"><i class="fa fa-th-large"></i></button>
                            <button class="btn btn-sm btn-light ml-2"><i class="fa fa-bars"></i></button>
                        </div>
                        <div class="ml-2">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-light dropdown-toggle"
                                    data-toggle="dropdown">Sorting</button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    {% if '?' not in request.get_full_path %}
                                    <a class="dropdown-item" href="?sort=latest">Latest</a>
                                    <a class="dropdown-item" href="?sort=popular">Popular</a>
                                    <a class="dropdown-item" href="?sort=best">Best Rating</a>
                                    {% elif 'sort' not in request.get_full_path %}
                                    <a class="dropdown-item" href="{{request.get_full_path}}&sort=latest">Latest</a>
                                    <a class="dropdown-item" href="{{request.get_full_path}}&sort=popular">Popular</a>
                                    <a class="dropdown-item" href="{{request.get_full_path}}&sort=best">Best Rating</a>
                                    {% else %}
                                    <a class="dropdown-item"
                                        href="{{request.get_full_path|set_sort:'latest'}}">Latest</a>
                                    <a class="dropdown-item"
                                        href="{{request.get_full_path|set_sort:'popular'}}">Popular</a>
                                    <a class="dropdown-item" href="{{request.get_full_path|set_sort:'best'}}">Best
                                        Rating</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="btn-group ml-2">
                                <button type="button" class="btn btn-sm btn-light dropdown-toggle"
                                    data-toggle="dropdown">Showing</button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    {% if '?' not in request.get_full_path %}
                                    <a class="dropdown-item" href="?per=6">6</a>
                                    <a class="dropdown-item" href="?per=21">21</a>
                                    <a class="dropdown-item" href="?per=30">30</a>
                                    {% elif 'per' not in request.get_full_path %}
                                    <a class="dropdown-item" href="{{request.get_full_path}}&per=6">6</a>
                                    <a class="dropdown-item" href="{{request.get_full_path}}&per=21">21</a>
                                    <a class="dropdown-item" href="{{request.get_full_path}}&per=30">30</a>
                                    {% else %}
                                    <a class="dropdown-item" href="{{request.get_full_path|set_per:6}}">6</a>
                                    <a class="dropdown-item" href="{{request.get_full_path|set_per:21}}">21</a>
                                    <a class="dropdown-item" href="{{request.get_full_path|set_per:30}}">30</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% for product in products %}
                    <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                        <div class="product-item bg-light mb-4">
                            <div class="product-img position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="{{product.first_image}}" alt="{{product.name}}">
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square add-to-cart" data-product="{{product.id}}"><i class="fa fa-shopping-cart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" onclick="event.preventDefault(); like_product({{product.id}});"><i class="far fa-heart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="text-center py-4">
                                <a class="h6 text-decoration-none text-truncate"
                                    href="{% url 'detail' id=product.id %}">{{product.name}}</a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5>${{ product.price|floatformat }}</h5><h6 class="text-muted ml-2"><del>${{product.fake_promo|floatformat}}</del></h6>
                                </div>
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    {{product.reviews_rate|format_rate}}
                                    <small>({{product.stock}})</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="col-12 mt-5 pagination justify-content-center">
                        No products found for your search!
                    </div>
                {% endfor %}
                <div class="col-12">
                    <nav>
                        {% if products.has_other_pages %}
                        <ul class="pagination justify-content-center">
                            {% if products.has_previous %}
                            <li class="page-item"><a class="page-link"
                                    href="?page={{ products.previous_page_number }}">&laquo; Previous</a></li>
                            {% else %}
                            <li class="page-item disabled"><a class="page-link" href="!#"><span>&laquo;
                                        Previous</span></a></li>
                            {% endif %}
                            {% for i in products.paginator.page_range %}
                            {% if products.number == i %}
                            <li class="page-item active"><a class="page-link" href="!#"><span>{{ i }}<span
                                            class="sr-only">(current)</span></span></a></li>
                            {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                            {% endfor %}
                            {% if products.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">Next
                                    &raquo;</a></li>
                            {% else %}
                            <li class="page-item disabled"><a class="page-link" href="!#"><span>Next &raquo;</span></a>
                            </li>
                            {% endif %}
                        </ul>
                        {% endif %}
                    </nav>
                </div>
            </div>
        </div>
        <!-- Shop Product End -->
    </div>
</div>
<!-- Shop End -->
{% endblock %}

{% comment %} {% block script %}
<script type="text/javascript">
    function filter(cat='all') {
        var url = '/shop/' + cat
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify({
                'price': document.getElementByName('price').value,
                'price_min': $('#price_min').val(),
                'price_max': $('#price_max').val(),
            })
        })
        .then((response) => {
            return response.json()
        })
        .then((data) => {
            location.reload()
            //location.reload('#tab-pane-3')
            //$('#tab-pane-3').load('#tab-pane-3')
            //$("#tab-pane-3").load(location.href + " #tab-pane-3");
            //$("#tab-pane-3").load(window.location + "#tab-pane-3");
        });
    }
    </script>
{% endblock %} {% endcomment %}